<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
        <h4>Añadir Peliculas</h4>
        <div class="form-group">
          <input type="text" name="codPelicula" [(ngModel)]="peli.codPelicula" placeholder="Codigo Pelicula" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="title"[(ngModel)]="peli.titulo"  placeholder="Titulo" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="anio" [(ngModel)]="peli.anio" placeholder="Año" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="duracion" [(ngModel)]="peli.duracion" placeholder="Duracion" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="pais" [(ngModel)]="peli.pais" placeholder="Pais" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="director" [(ngModel)]="peli.director" placeholder="Director" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="guion" [(ngModel)]="peli.guion" placeholder="Guion" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="productor" [(ngModel)]="peli.productor" placeholder="Productor" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="genero" [(ngModel)]="peli.genero" placeholder="Genero" class="form-control">
        </div>
        <div class="form-group">
          <input type="url" name="portada" [(ngModel)]="peli.portada" placeholder="Portada" class="form-control">
        </div>
        <div class="form-group">
          <textarea name="sinopsis" [(ngModel)]="peli.sinopsis" placeholder="Sinopsis" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="text" name="fechaLanzamiento" [(ngModel)]="peli.fechaLanzamiento" placeholder="Fecha de lanzamiento" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="precioVenta" [(ngModel)]="peli.precioVenta" placeholder="Precio de venta" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="precioAlquiler" [(ngModel)]="peli.precioAlquiler" placeholder="Precio de alquiler" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updatePelicula() : guardarPelicula()">Guardar</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class=" card card-body text-center">
    <img [src]="peli.portada == '' ? './assets/caratulas/NoImage.jpg': peli.portada" class="card-img-top">
    <h3>{{peli.codPelicula == 0 ? 'Codigo Pelicula' : peli.codPelicula}}º</h3>
    <h5>{{peli.titulo == '' ? 'Titulo' : peli.titulo}}</h5>
    <p>{{peli.anio == '' ? 'Año' : peli.titulo}}</p>
    <p>{{peli.duracion == 0 ? 'Duracion' : peli.duracion}}</p>
    <p>{{peli.pais == '' ? 'Pais' : peli.pais}}</p>
    <p>{{peli.director == '' ? ' Director' : peli.director}}</p>
    <p>{{peli.guion == '' ? ' Guion' : peli.guion}}</p>
    <p>{{peli.productor == '' ? ' Productor' : peli.productor}}</p>
    <p>{{peli.genero == '' ? ' Genero' : peli.genero}}</p>
    <p>{{peli.sinopsis == '' ? ' Sinopsis' : peli.sinopsis}}</p>
    <p>{{peli.fechaLanzamiento == '' ? ' Fecha de estreno' : peli.fechaLanzamiento}}</p>
    <p>{{peli.precioVenta == 0 ? '€ P.V.P' : peli.precioVenta}}</p>
    <p>{{peli.precioAlquiler == 0 ? '€ Precio de alquiler' : peli.precioAlquiler}}</p>
  </div>
</div>
