<div class=" card card-body text-center" >
  <img src="./assets/caratulas/{{peli.portada}}" class="card-image-top">
  <h3>Codigo de la pelicula: {{peli.codPelicula}}</h3>
  <h5>Titulo: {{peli.titulo}}</h5>
  <p>Año: {{peli.anio}}</p>
  <p>Duracion: {{peli.duracion}}</p>
  <p>Pais: {{peli.pais}}</p>
  <p>DIrector: {{peli.director}}</p>
  <p>Guinista: {{peli.guion}}</p>
  <p>Productor: {{peli.productor}}</p>
  <p>Genero: {{peli.genero}}</p>
  <p>Sinopsis: {{peli.sinopsis}}</p>
  <p>Fecha de lanzamiento: {{peli.fechaLanzamiento}}</p>
  <p>Precio de venta: {{peli.precioVenta}}</p>
  <p>Precio de alquiler: {{peli.precioAlquiler}}</p>
</div>
