<div>
  <img src="">
  <h3>Titulo: {{peli.titulo}} </h3>
  <p>Año: {{peli.anio}}</p>
  <p>Duracion: {{peli.duracion}}</p>
  <p>Pais: {{peli.pais}}</p>
  <p>Director: {{peli.director}}</p>
  <p>Guion: {{peli.guion}}</p>
  <p>Productor: {{peli.productor}}</p>
  <p>Genero: {{peli.genero}}</p>
  <p>Portada: {{peli.portada}}</p>
  <p>Sinopsis: {{peli.sinopsis}}</p>
  <p>Precio de Venta: {{peli.precioVenta}}</p>
  <p>precio de Alquiler: {{peli.precioAlquiler}}</p>
  <p>Numero de Ejemplares: {{peli.numEjemplares}}</p>
  <p>Numero de Ejemplares Prestados: {{peli.numEjemplaresPrestados}}</p>
</div>
