<div class="col-md-4" *ngFor="let Peli of peliculas">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{Peli.titulo}}
      <button class="btn btn-danger" (click)="deletePelicula(Peli.codPelicula)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img src="./assets/caratulas/{{Peli.portada}}" class="card-image-top">
    <div class="card-body">
      <p>{{Peli.sinopsis | slice:0:175}}...</p>
      <a [routerLink]="['modificar',Peli.codPelicula]" class="btn btn-info btn-block"> Editar Pelicula </a>
      <a [routerLink]="['vista',Peli.codPelicula]" class="btn btn-info btn-block"> Ver Informacion </a>
    </div>
  </div>
</div>
